:root {
  /* Typography */
  --step--2: clamp(0.7035rem, 0.7257rem + -0.0287vi, 0.72rem);
  --step--1: clamp(0.9rem, 0.8869rem + 0.0656vi, 0.9377rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --step-1: clamp(1.4063rem, 1.3158rem + 0.4522vi, 1.6663rem);
  --step-2: clamp(1.7578rem, 1.5967rem + 0.8057vi, 2.2211rem);
  --step-3: clamp(2.1973rem, 1.9317rem + 1.3278vi, 2.9607rem);
  --step-4: clamp(2.7466rem, 2.3292rem + 2.0871vi, 3.9467rem);
  --step-5: clamp(3.4332rem, 2.7975rem + 3.1786vi, 5.2609rem);

  /* Spacing */
  --space-3xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-2xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-xs: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-s: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-m: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-l: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-2xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);

  /* Reading width */
  --readable-width: 60ch;

  /* Default Width */
  --default-width: 55rem;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

a {
  color: purple;
  text-decoration: underline;
  text-decoration-color: hotpink;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.1em;

  display: inline-block;
  transition: color 0.3s ease-in-out;
}

p a,
ul a,
ol a {
  color: inherit;
  text-decoration-style: underline;
}

a:hover {
  color: hotpink;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: var(--step-5);
  font-weight: bolder;
  color: hotpink;
  -webkit-text-stroke: 0.02em floralwhite;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: var(--step-3);
  font-weight: bolder;
  color: seagreen;
  -webkit-text-stroke: 0.02em floralwhite;
}
