---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | MixPod">
  <main>
    <header>
      <img height="800" width="800" src="/assets/404.png" />
    </header>
  </main>
</Layout>

<style></style>
