---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Xtowel">
  <main>
    <h2>A towel is the most massively useful thing an interstellar hitchhiker and web developer can have, but you've lost yours...</h2>
    <header>
      <img height="800" width="800" src="/assets/404.png" />
    </header>
  </main>
</Layout>

<style></style>
