---
import { eq } from "drizzle-orm";
import Layout from "../layouts/Layout.astro";
import { playlists } from "../models/schema";
import { db } from "../utils/db";

const { playlistId } = Astro.params;

if (!playlistId) {
  return Astro.redirect("/");
}

const playlist = await db.query.playlists.findFirst({
  where: eq(playlists.id, parseInt(playlistId)),
});

console.log(playlist);

if (!playlist) {
  return Astro.redirect("/");
}
---

<Layout title="New Playlist">
  <main>
    <header>
      <h1>{playlist?.name}</h1>
      <p>{playlist?.description}</p>
      <p>{playlist?.createdBy}</p>
    </header>
  </main>
</Layout>
