---
import Layout from "../layouts/Layout.astro";
import SignUp from "../components/SignUp.astro";

const streams = [
  "vIJeL9Mu31I?",
  "2KWprkl0CVo",
  "ES_ZDVQfngo",
  "UiG7S8pDk4E",
  "SQ8URCwbW5g",
  "ZWhzBS0PJQg",
];
---

<Layout title="About MixPod">
  <main>
    <header>
      <h1>About MixPod</h1>

      <p>
        MixPod is an exploration of what can be done with no client-side
        javascript and open web standards such as RSS.
      </p>
    </header>

    <section>
      <h2>
        Join us live <a href="https://youtube.com/@QueenRaae/live">on YouTube</a
        >&nbsp;👇
      </h2>

      <iframe
        src="https://www.youtube.com/embed/live_stream?channel=UCDlrzlRdM1vGr8nO708KFmQ"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

      <p>every other Saturday at 11:00 CET</p>
    </section>

    <section>
      <h2>Sign up for emails to stay updated&nbsp;💌</h2>
      <SignUp />
    </section>

    <section>
      <h2>
        Made by <a href="https://queen.raae.codes">Queen Raae</a>
      </h2>

      <p>and her piratical friends & family:</p>

      <ul>
        <li>Queen Raae <a href="https://twitter.com/raae">@raae</a></li>
        <li>
          Captain Ola <a href="https://twitter.com/OlaHolstVea">@OlaHolstVea</a>
        </li>
        <li>The Pirate Princess</li>
        <li>
          Ruler of the chat: AK <a href="https://twitter.com/ja_gatka
 "
            >@ja_gatka</a
          >
        </li>
      </ul>
    </section>

    <section>
      <h2>Past voyages</h2>
      <ul role="list">
        {
          streams.map((stream) => (
            <li>
              <iframe
                src={`https://www.youtube.com/embed/${stream}`}
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              />
            </li>
          ))
        }
      </ul>
    </section>

    <!-- <h2>Our Treasure Map</h2> -->

    <!-- <iframe
      src="https://www.tldraw.com/v/3Fm1saCUgL4FnXHC7QUH_?viewport=1288,455,3676,1857&page=page%3Apage"
    ></iframe> -->
  </main>

  <style>
    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      margin: var(--space-s) -2px;
      background-color: blanchedalmond;
      display: inline-block;
      border-radius: 0.2em;
      border: solid 0.6em blanchedalmond;
      font-size: var(--step-0);
      display: block;
    }
  </style>
</Layout>
