---
import Layout from "../layouts/Layout.astro";
import SignUp from "../components/SignUp.astro";

const streams = [
  "oslrnHwClx8",
  "LzSyS7UQFXQ",
];
---

<Layout title="About Twowels, TwitterTowels, XTowe, Towelie?!?!">
  <main>
    <header>
      <h1>About Twowels, TwitterTowels, XTowe, Towelie?!?!</h1>

      <p>
        Twowels, TwitterTowels, XTowe, Towelie?!?! is an exploration of what can be done with screenshot API Urlbox.
      </p>
    </header>

    <section>
      <h2>
        Join us live <a href="https://youtube.com/@QueenRaae/live">on YouTube</a
        >&nbsp;👇
      </h2>

      <iframe
        src={`https://www.youtube.com/embed/${streams[0]}`}
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    </section>

    <section>
      <h2>Sign up for emails to stay updated&nbsp;💌</h2>
      <SignUp />
    </section>

    <section>
      <h2>
        Made by <a href="https://queen.raae.codes">Queen Raae</a>
      </h2>

      <p>and her piratical friends & family:</p>

      <ul>
        <li>Queen Raae <a href="https://twitter.com/raae">@raae</a></li>
        <li>
          Captain Ola <a href="https://twitter.com/OlaHolstVea">@OlaHolstVea</a>
        </li>
      </ul>
    </section>

    <section>
      <h2>Past voyages</h2>
      <ul role="list">
        {
          streams.slice(1).map((stream) => (
            <li>
              <iframe
                src={`https://www.youtube.com/embed/${stream}`}
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              />
            </li>
          ))
        }
      </ul>
    </section>

    <!-- <h2>Our Treasure Map</h2> -->

    <!-- <iframe
      src="https://www.tldraw.com/v/3Fm1saCUgL4FnXHC7QUH_?viewport=1288,455,3676,1857&page=page%3Apage"
    ></iframe> -->
  </main>

  <style>
    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      margin: var(--space-s) -2px;
      background-color: blanchedalmond;
      display: inline-block;
      border-radius: 0.2em;
      border: solid 0.6em blanchedalmond;
      font-size: var(--step-0);
      display: block;
    }
  </style>
</Layout>
