---
import Layout from "../layouts/Layout.astro";
---

<Layout title="MixPod" nav="full">
  <main>
    <header>
      <h1>MixPod</h1>
      <p>Curate podcast episodes into new shareable podcast feeds!</p>
      <menu>
        <a href="/new">Create a MixPod</a>
      </menu>
    </header>
  </main>
</Layout>

<style></style>
