---
import Layout from "../layouts/Layout.astro";
import { db } from "../utils/db";
import { playlists } from "../models/schema";
import { desc } from "drizzle-orm";

const allPlaylists = await db
  .select()
  .from(playlists)
  .orderBy(desc(playlists.id));
---

<Layout title="MixPod" nav="full">
  <main>
    <header>
      <h1>MixPod</h1>
      <p>Curate podcast episodes into new shareable podcast feeds!</p>
      <menu>
        <a href="/new">Create a MixPod</a>
      </menu>
    </header>
    <section>
      <h2>Featured MixPods</h2>
      <ul role="list">
        {
          allPlaylists.map((playlist) => (
            <>
              <a href={`/${playlist.id}`}>{playlist.name}</a>
              {playlist.createdBy && (
                <>
                  by <small>{playlist.createdBy}</small>
                </>
              )}
            </>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style></style>
