---
import Layout from "../layouts/Layout.astro";
import { db } from "../utils/db";

const playlists = await db.query.playlists.findMany({ limit: 6 });
---

<Layout title="MixPod" nav="full">
  <main>
    <header>
      <h1>MixPod</h1>
      <p>Curate podcast episodes into new shareable podcast feeds!</p>
      <menu>
        <a href="/new">Create a MixPod</a>
      </menu>
    </header>
    <section>
      <h2>Featured MixPods</h2>
      <ul role="list">
        {
          playlists.map((playlist) => (
            <li>
              <a href={`/p/${playlist.id}`}>{playlist.name}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style></style>
