---
import Layout from "../layouts/Layout.astro";
import PlaylistForm from "../components/PlaylistForm.astro";
import { db } from "../utils/db";
import { playlists } from "../models/schema";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();

  const name = data.get("name");
  const description = data.get("description");
  const createdBy = data.get("created-by");

  const playlist = await db.insert(playlists).values({
    name: name as string,
    description: description as string,
    createdBy: createdBy as string,
  });

  console.log(`New playlist created with ID: ${playlist.lastInsertRowid}`);

  return Astro.redirect(`/${playlist.lastInsertRowid}`);
}
---

<Layout title="New Playlist">
  <main>
    <header>
      <h1>New Playlist</h1>
    </header>
    <PlaylistForm />
  </main>
</Layout>
