<!-- ---
import type { Playlist } from "../models/types";

interface Props {
  playlist?: Playlist;
}

const { playlist } = Astro.props;
---

<form method="POST">
  <label for="name"> Name of playlist </label>
  <input
    type="text"
    id="name"
    name="name"
    required
    placeholder="Add a name for your playlist"
    value={playlist?.name}
  />

  <label for="description"> Description </label>
  <textarea
    id="description"
    name="description"
    rows="4"
    placeholder="Add a description for your playlist"
    >{playlist?.description}</textarea
  >

  <label for="created-by"> Created by </label>
  <input
    type="text"
    id="created-by"
    name="created-by"
    placeholder="Your name or alias"
    value={playlist?.createdBy}
  />

  <menu>
    <button type="reset"> Reset </button>
    <button type="submit"> Save </button>
  </menu>
</form>

<style>
  form {
    > * {
      width: var(--readable-width);
      max-width: 100%;
    }

    > label {
      display: block;
      margin-top: var(--space-s);
      margin-bottom: var(--space-3xs);
    }

    menu {
      margin-top: var(--space-s);
      font-size: var(--step-0);
    }
  }
</style> -->
